<footer class="site-footer h-card" style="padding: 15px 0px; margin-bottom: 0px">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper" style="padding: 0px; margin-bottom: 0px">
      <div class="footer-col-wrapper" style="padding: 0px; margin-bottom: 0px">

      <div class="footer-col" align="center"style="padding: 0px; margin-bottom: 0px">
          <font size=-1 style="line-height:2"> Gibson&nbsp;Lab - Harvard&nbsp;Medical&nbsp;School - Brigham&nbsp;&#38;&nbsp;Women's&nbsp;Hospital</font>
      </div>


  </div>
  </div>
</footer>
