<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
      <div class="footer-col-wrapper">
      <div class="footer-col" align="center">
          <a href="/"><img src="/image/gibson_lab_logo_bw-02-01.svg" alt="Gibons Lab" height="30pt"></a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.brighamandwomens.org/"><img src="/image/bwh_logo_bw-01.svg" alt="Gibons Lab" height="30pt"></a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://hms.harvard.edu/"><img src="/image/harvard_logo_bw-01.svg" alt="Gibons Lab" height="30pt"></a>
      </div>

  </div>
  </div>
</footer>
