<footer class="site-footer h-card" style="padding: 15px 0px; margin-bottom: 0px">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper" style="padding: 0px; margin-bottom: 0px">
      <div class="footer-col-wrapper" style="padding: 0px; margin-bottom: 0px">

      <div class="footer-col" align="center"style="padding: 0px; margin-bottom: 0px">
          <font size=-1 style="line-height:2"> Gibson Lab - Harvard Medical School - BWH</font> <br>
          <a href="https://github.com/GibsonLab" style="display: inline-block; color:#828282"><i class="fa fa-github fa-lg"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="https://twitter.com/GibsonNews" style="display: inline-block; color:#828282"><i class="fa fa-twitter fa-lg"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="mailto:tegibson@bwh.harvard.edu" style="display: inline-block; color:#828282"><i class="fa fa-envelope-o fa-lg"></i></a>&nbsp;&nbsp;&nbsp;
          <a href="https://www.google.com/maps/place/Building+for+Transformative+Medicine+at+Brigham+and+Women's+Hospital/@42.3353661,-71.1087175,15z/data=!4m2!3m1!1s0x0:0x35376a566e389c7d?sa=X&ved=2ahUKEwifjKzTzcztAhUPZd8KHSK7D6sQ_BIwCnoECBkQBQ" style="display: inline-block; color:#828282">
          <i class="fas fa-map-marker-alt"></i></a><h6>
      </div>


  </div>
  </div>
</footer>
